* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea {
  outline: none;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label_span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  color: #724a00;
  background-color: #ffd88e;
  border: 1px solid #885800;
  -webkit-transition: border-color 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
  transition: border-color 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
}

.btn:hover {
  color: #ffd88e;
  background-color: #885800;
  border-color: #724a00;
}

.btn:active {
  color: #724a00;
  background-color: #ffd88e;
  border-color: #885800;
}

.catalog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 30px 0 10px;
  border: 1px solid #cf8d13;
  background-color: #ffc964;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #aa6e00;
  background-color: #ffd88e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  -webkit-transition: color 300ms ease-out, background-color 300ms ease-out, border-color 300ms ease-out;
  transition: color 300ms ease-out, background-color 300ms ease-out, border-color 300ms ease-out;
}

.catalog_item_info {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.catalog_item_txt {
  max-width: 300px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #724a00;
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

.catalog_item_title {
  margin: 5px 0;
  font-size: 24px;
}

.catalog_item_description {
  font-weight: 500;
  font-size: 14px;
}

.catalog_item:hover {
  background-color: #aa6e00;
  border-color: #724a00;
}

.catalog_item:hover .catalog_item_txt {
  color: #ffd88e;
}

.catalog_item:active {
  background-color: #ffd88e;
  border-color: #aa6e00;
}

.catalog_item:active .catalog_item_txt {
  color: #724a00;
}

.pic_mini {
  display: block;
  height: 200px;
}

.span_empty {
  display: block;
  text-align: center;
  color: #be1d00;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.hide {
  display: none;
}

.main_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #aa6e00;
  background-color: #ffd88e;
  display: block;
}

.product_wrapper {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

.add_product {
  margin-top: 15px;
  padding: 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.add_product_wrapper {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add_product_description {
  resize: none;
}

.add_product_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: #724a00;
  background-color: #ffd88e;
  border: 1px solid #885800;
}

.add_product_input_file {
  display: none;
}

.add_product_input_file_btn {
  font-weight: 500;
}

.add_product_input_file_name {
  max-width: 300px;
}

.add_product_item {
  margin-bottom: 10px;
}

.add_product_submit {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */