* {
    margin: 0;
    padding: 0;
}
input,
button,
textarea {
    outline: none;
}
.main {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label {
    display: flex;
    flex-direction: column;

    &_span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    color: rgb(114, 74, 0);
    background-color: rgb(255, 216, 142);
    border: 1px solid rgb(136, 88, 0);
    transition: border-color 300ms ease-out,
                background-color 300ms ease-out,
                color 300ms ease-out;
    &:hover {
        color: rgb(255, 216, 142);
        background-color: rgb(136, 88, 0);
        border-color: rgb(114, 74, 0);
    }
    &:active {
        color: rgb(114, 74, 0);
        background-color: rgb(255, 216, 142);
        border-color: rgb(136, 88, 0);
    }
}
.catalog {
    box-sizing: border-box;
    width: 90%;
    margin: 10px 0;
    border: 1px solid rgb(207, 141, 19);
    background-color: rgb(255, 201, 100);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    &_item {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid rgb(170, 110, 0);
        background-color: rgb(255, 216, 142);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        transition: color 300ms ease-out,
                    background-color 300ms ease-out,
                    border-color 300ms ease-out;
        &_info {
            align-self: stretch;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &_txt {
            max-width: 300px;
            margin-top: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: rgb(114, 74, 0);
            transition: color 300ms ease-out;
        }
        &_title {
            margin: 5px 0;
            font-size: 24px;
        }
        &_description {
            font-weight: 500;
            font-size: 14px;
        }
        &:hover {
            background-color: rgb(170, 110, 0);
            border-color: rgb(114, 74, 0);
            
            & .catalog_item_txt {
                color: rgb(255, 216, 142);
            }
        }
        &:active {
            background-color: rgb(255, 216, 142);
            border-color: rgb(170, 110, 0);
            
            & .catalog_item_txt {
                color: rgb(114, 74, 0);
            }
        }
    }
}
.pic_mini {
    display: block;
    // height: 100%;
    // width: 300px;
    height: 200px;
}
.span_empty {
    display: block;
    text-align: center;
    color: rgb(190, 29, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.hide {
    display: none;
}
.main_product {
    min-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_wrapper {
        max-width: 1000px;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.back {
    align-self: flex-start;
    margin-bottom: 10px;
}
.product_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(170, 110, 0);
    background-color: rgb(255, 216, 142);
}
.product_img {
    display: block;
    width: 100%;
    transition: filter 300ms ease-out;
    &:hover {
        filter: brightness(0.4);
    }
    &:active {
        filter: none;
    }
    &_wrapper {
        display: block;
        width: 50%;
    }
}
.product_info {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    max-height: 300px;
    margin-left: 10px;
    &_description {
        margin: 0;
    }
    &_wrapper {
        margin: 5px 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &_item {
            margin: 0 10px 0 0;
        }
    }
}
.admin_controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.add_product {
    margin-top: 15px;
    padding: 15px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

    &_wrapper {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    &_description {
        resize: none;
    }

    &_input {
        box-sizing: border-box;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        color: rgb(114, 74, 0);
        background-color: rgb(255, 216, 142);
        border: 1px solid rgb(136, 88, 0);

        &_file {
            display: none;

            &_btn {
                font-weight: 500;
            }
            &_name {
                max-width: 300px;
            }
        }
    }

    &_item {
        margin-bottom: 10px;
    }

    &_submit {
        margin: 0;
    }
}
.signin_form {
    min-width: 600px;
    margin-top: 30px;
    width: 80%;
    // align-items: center;
    padding: 20px;
}
.register_fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.register_item {
    margin-bottom: 10px;
    &:last-child {
        margin: 0;
    }
}
.btn_wrapper {
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}
.order_info {
    transition: none;
}